*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #7f53ac, #657ced);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

h3 {
    font-size: 16px;
    font-weight: 600;
}

input[type="text"] {
    width: 90%;
    max-width: 250px;
    font-weight: 600;
    color: #663399;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #202020;
    font-size: 18px;
}

button {
    width: 100%;
    max-width: 250px;
    padding: 15px;
    border-radius: 5px;
    background-color: #663399;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

p {
    font-weight: 400;
}
